<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuzhu.dao.GoodClassifyDao">

    <resultMap id="goodClassifyResultMap" type="com.fuzhu.entity.GoodClassify">
        <id column="Classify_ID" property="classifyId" jdbcType="INTEGER" />
        <result column="Good_kinds_Name" property="goodkindsName"
                jdbcType="NVARCHAR" />
        <result column="Upper_ID" property="upperID" jdbcType="INTEGER" />
        <result column="Upper_Name" property="upperName" jdbcType="NVARCHAR" />
        <result column="Description" property="description" jdbcType="NVARCHAR" />
    </resultMap>

    <resultMap id="goodDetailsResultMap" type="com.fuzhu.entity.GoodDetails">
        <id column="Good_ID" property="goodId" jdbcType="NVARCHAR" />
        <result column="Classify_ID" property="classifyId" jdbcType="INTEGER" />
        <result column="Good_Name" property="goodName" jdbcType="NVARCHAR" />
        <result column="Good_Brand" property="goodBrand" jdbcType="NVARCHAR" />
        <result column="Good_Price" property="goodPrice" jdbcType="NVARCHAR" />
        <result column="Monthsale_Num" property="monthsaleNum"
                jdbcType="INTEGER" />
        <result column="Good_Hot" property="goodHot" jdbcType="INTEGER" />
        <result column="Store_Name" property="storeName" jdbcType="NVARCHAR" />
        <result column="Store_Add" property="storeAdd" jdbcType="NVARCHAR" />
        <result column="Store_Age" property="storeAge" jdbcType="NVARCHAR" />
        <result column="Seller_Credit" property="sellerCredit"
                jdbcType="NVARCHAR" />
        <result column="Ishas_License" property="ishasLicense"
                jdbcType="NVARCHAR" />
        <result column="Classify_Description" property="classifyDescription"
                jdbcType="NVARCHAR" />
        <result column="Comment_Num" property="commentNum" jdbcType="INTEGER" />
    </resultMap>
    <!--
        <resultMap id="goodInfoResyltMap" type="cn.pew.entity.GoodInfo" > <id
            column="good_ID" property="goodId" jdbcType="INTEGER" /> <result column="good_Name"
            property="goodName" jdbcType="NVARCHAR" /> <result column="monthsale_Num"
            property="monthsaleNum" jdbcType="INTEGER" /> <result column="good_kinds_Name"
            property="goodkindsName" jdbcType="NVARCHAR" /> <result column="store_Name"
            property="storeName" jdbcType="NVARCHAR" /> <result column="comment_Num"
            property="commentNum" jdbcType="INTEGER" /> <result column="good_Brand" property="goodBrand"
            jdbcType="NVARCHAR" /> <result column="ishas_License" property="ishasLicense"
            jdbcType="NVARCHAR" /> <result column="good_Hot" property="goodHot" jdbcType="INTEGER"
            /> <result column="good_Price" property="goodPrice" jdbcType="DECIMAL" />
            <result column="store_Add" property="storeAdd" jdbcType="NVARCHAR" /> <result
            column="store_Age" property="storeAge" jdbcType="NVARCHAR" /> <result column="classify_Description"
            property="description" jdbcType="NVARCHAR" /> <result column="seller_Credit"
            property="sellerCredit" jdbcType="NVARCHAR" /> </resultMap>  -->



    <!-- 根据商品种类名查询其所属商品类别id -->
    <select id="findClassifyIdByClassifyName" parameterType="string"
            resultType="integer">
        select Classify_ID from Commodity_classification where
        Good_kinds_Name =
        #{value}
    </select>

    <!-- 根据商品种类名查询所属类别的商品信息 -->
    <select id="findGoodDetailsByClassifyName" resultMap="goodDetailsResultMap"
            parameterType="string" resultType="list">
        select
        d.Good_ID ,
        d.Classify_ID,
        d.Good_Name,
        d.Monthsale_Num,
        d.Store_Name,
        d.Comment_Num,
        d.Good_Brand,
        d.Ishas_License,
        isnull(d.Good_Hot,0),
        d.Good_Price,
        d.Store_Add,
        d.Store_Age,
        d.Seller_Credit,
        d.Classify_Description
        from
        Commodity_classification c,
        Commodity_list d
        where
        c.Good_kinds_Name=#{good_kinds_Name} and c.Classify_ID=d.Classify_ID
    </select>

    <!-- 根据商品种类ID查询所属类别的商品信息 ,目前用于建立索引-->
    <select id="findGoodDetailsByClassifyID"
            parameterType="integer" resultType="com.fuzhu.entity.GoodDetails">
        select
        d.Good_ID ,
        d.Classify_ID,
        d.Good_Name
        from
        Commodity_classification c,
        Commodity_list d
        where
        c.Classify_ID=#{value} and d.Classify_ID=c.Classify_ID
    </select>

</mapper>